.breed-name
  text-transform capitalize
  font-size 1.2em

.more-breeds-info
  margin-left 1em
  font-size .85em
  color #777

.sub-breeds
  list-style-type none
  padding 0 0 0 1.5em
  margin .8em 0 0 0

.sub-breed
  text-transform capitalize
  color #333
  font-size 1.1em
  font-weight 300
  margin-bottom .5em

  &:last-child
    margin-bottom 0
